src/main/mule/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2addb022-4df3-4abd-a64b-e964656aa796" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="testFlow" doc:id="5986fb91-03d2-405a-8e92-f456ecad2b31" >
		<http:listener doc:name="Listener" doc:id="a8d67280-80fb-49c8-9ed6-6e922241fcd8" config-ref="HTTP_Listener_config" path="/sampleReq"/>
		<ee:transform doc:name="Transform Message" doc:id="dd2963ee-4fc8-427c-8c40-bfba8e13697c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	id :attributes.queryParams.sid,
	name:attributes.queryParams.sname,
	address:payload.address,
	phone: attributes.headers.phone,
	method: attributes.method,
	path: attributes.requestPath
	}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:id="cbbd5801-5d6d-474b-8285-d2d6a03348fe" path="C:\Users\Pavan\Desktop\first-app\student.json"/>
	</flow>
</mule>
